<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-container">
    <header data-role="Header" class="header-header">
      <div class="header-container1">
        <img
          alt="image"
          src="public/2323-fotor-bg-remover-20230825105844-200h.png"
          class="header-image"
        />
      </div>
      <nav class="navigation-links-nav navigation-links-root-class-name8">
        <span class="navigation-links-text"><span>SOBRE NÓS</span></span>
        <span class="navigation-links-text1">
          <span>NOSSAS CONQUISTAS</span>
        </span>
        <span class="navigation-links-text2"><span>CARREIRAS</span></span>
        <span class="navigation-links-text3"><span>CONTATO</span></span>
      </nav>
      <a href="login.html" id="button_entrar" class="header-navlink button">
        <span>Entrar</span>
      </a>
    </header>
    <form class="header-form"></form>
  </div>
</div>
