.header-container {
  width: 100%;
  height: 144px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-header {
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #2e2e38;
}
.header-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-image {
  width: 60px;
  object-fit: cover;
}
.header-navlink {
  width: 136px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  border-radius: 25px;
  text-decoration: none;
  background-color: #95ff00;
}
.header-form {
  width: 100%;
  height: 5px;
  display: flex;
  background-color: #95FF00;
}


@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
}
