.header-login-container {
  width: 100%;
  height: 105px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-login-header {
  width: 100%;
  height: 99px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-login-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-login-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
.header-login-form {
  width: 100%;
  height: 8px;
  display: flex;
  background-image: linear-gradient(90deg, rgb(12, 162, 6) 1.00%,rgb(0, 181, 222) 100.00%);
}





@media(max-width: 767px) {
  .header-login-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-login-header {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
}

.card-vagas1-feature-card {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  box-shadow: 5px 5px 10px 0px #466277;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.card-vagas1-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.card-vagas1-container {
  width: 610px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.card-vagas1-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.card-vagas1-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-vagas1-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.card-vagas1-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-vagas1-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-vagas1-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-vagas1-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-vagas1-container7 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-vagas1-icon02 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.card-vagas1-text1 {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.card-vagas1-icon04 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.card-vagas1-text2 {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.card-vagas1-icon06 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.card-vagas1-text3 {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.card-vagas1-icon08 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.card-vagas1-text4 {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.card-vagas1-container8 {
  width: auto;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-vagas1-text5 {
  color: var(--dl-color-primary-100);
  width: 50px;
  height: 20px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: #bce9ef;
}
.card-vagas1-text6 {
  color: var(--dl-color-primary-100);
  width: auto;
  height: auto;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: #bce9ef;
}
.card-vagas1-text7 {
  color: var(--dl-color-primary-100);
  width: auto;
  height: auto;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: #bce9ef;
}
.card-vagas1-text8 {
  align-self: center;
}
.card-vagas1-button {
  width: auto;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary-700);
}
.card-vagas1-button:hover {
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}





@media(max-width: 1600px) {
  .card-vagas1-feature-card {
    width: auto;
    height: auto;
    margin: 10px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .card-vagas1-icon {
    margin: var(--dl-space-space-halfunit);
  }
  .card-vagas1-container {
    height: 250px;
  }
  .card-vagas1-text {
    margin: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .card-vagas1-feature-card {
    flex-direction: row;
  }
  .card-vagas1-container1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .card-vagas1-container1 {
    flex-direction: column;
  }
}

.footer-container {
  width: 100%;
  height: 89px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer-footer {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  max-height: auto;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.footer-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
.footer-text {
  color: #000000;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon4 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
}
.footer-root-class-name {
  height: auto;
}
.footer-root-class-name1 {
  width: 100%;
  align-self: center;
}






@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.vagas-carreiras-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.vagas-carreiras-features {
  width: 90%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  flex-direction: column;
}
.vagas-carreiras-text {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.vagas-carreiras-features1 {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  flex-direction: column;
}
.vagas-carreiras-text1 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.vagas-carreiras-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vagas-carreiras-container2 {
  width: 1450px;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
@media(max-width: 1600px) {
  .vagas-carreiras-features {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .vagas-carreiras-features1 {
    width: auto;
    height: auto;
    max-width: auto;
  }
  .vagas-carreiras-textinput {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .vagas-carreiras-container2 {
    width: auto;
    height: auto;
    align-self: center;
  }
}
@media(max-width: 1200px) {
  .vagas-carreiras-features {
    flex-direction: column;
  }
  .vagas-carreiras-features1 {
    width: 1116px;
    height: 528px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
  }
  .vagas-carreiras-container2 {
    width: auto;
    height: auto;
    align-self: flex-start;
  }
}
@media(max-width: 767px) {
  .vagas-carreiras-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .vagas-carreiras-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .vagas-carreiras-container2 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .vagas-carreiras-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .vagas-carreiras-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
