.header-login-container {
  width: 100%;
  height: 105px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-login-header {
  width: 100%;
  height: 99px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-login-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-login-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
.header-login-form {
  width: 100%;
  height: 8px;
  display: flex;
  background-image: linear-gradient(90deg, rgb(12, 162, 6) 1.00%,rgb(0, 181, 222) 100.00%);
}





@media(max-width: 767px) {
  .header-login-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-login-header {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
}

.footer-container {
  width: 100%;
  height: 89px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer-footer {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  max-height: auto;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.footer-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
.footer-text {
  color: #000000;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon4 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
}
.footer-root-class-name {
  height: auto;
}
.footer-root-class-name1 {
  width: 100%;
  align-self: center;
}






@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.cadastro-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cadastro-pricing {
  flex: 1;
  width: 100%;
  height: var(--dl-size-size-maxwidth);
  display: flex;
  align-self: center;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgba(44, 62, 80, 0.2) 100.00%),url("https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ0fHx3b3JraW5nfGVufDB8fHx8MTY5MzIyNTkyMXww&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.cadastro-pricing-card {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 600px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 600px;
  align-self: center;
  min-height: 500px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: var(--dl-color-primary-100);
  border-width: 2px;
  border-radius: 15px;
  flex-direction: column;
  background-color: rgba(46, 46, 56, 0.88);
}

.cadastro-image {
  width: 61px;
  height: 76px;
  align-self: flex-end;
  object-fit: cover;
}
.cadastro-text {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  align-self: center;
  font-style: normal;
  font-family: Inria Sans;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: capitalize;
}
.cadastro-text1 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  align-self: stretch;
  font-style: normal;
  font-family: Inria Sans;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: capitalize;
}
.cadastro-textinput {
  flex: 0;
  width: 400px;
  align-self: center;
  border-color: var(--dl-color-primary-100);
  border-width: 2px;
  border-radius: 15px;
}
.cadastro-text2 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  align-self: stretch;
  font-style: normal;
  font-family: Inria Sans;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: capitalize;
}
.cadastro-textinput1 {
  flex: 0;
  width: 400px;
  align-self: center;
  border-color: var(--dl-color-primary-100);
  border-width: 2px;
  border-radius: 15px;
}
.cadastro-button {
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: var(--dl-color-primary-700);
}
@media(max-width: 991px) {
  .cadastro-pricing-card {
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
    max-width: 100%;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .cadastro-pricing-card {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 470px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .cadastro-textinput {
    width: 250px;
  }
  .cadastro-textinput1 {
    width: 250px;
  }
}
