.navigation-links-admin-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-admin-navlink {
  margin: var(--dl-space-space-halfunit);
  font-size: 30px;
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-decoration: none;
}
.navigation-links-admin-text {
  font-size: 30px;
  margin-left: var(--dl-space-space-twounits);
}

.navigation-links-admin-text1{
  font-size: 30px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-admin-navlink1 {
  font-size: 30px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-admin-root-class-name {
  align-self: center;
}
@media(max-width: 991px) {
  .navigation-links-admin-navlink {
    font-size: 1rem;
  }
  .navigation-links-admin-text {
    font-size: 1rem;
  }
  .navigation-links-admin-navlink1 {
    font-size: 1rem;
  }
}
@media(max-width: 767px) {
  .navigation-links-admin-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-admin-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-admin-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-admin-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-admin-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .navigation-links-admin-navlink {
    font-size: 2.75rem;
  }
}

.header-admin-container {
  width: 100%;
  height: 105px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-admin-header {
  width: 100%;
  height: 99px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-admin-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-admin-navlink {
  display: contents;
}
.header-admin-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
  text-decoration: none;
}
.header-admin-header1 {
  width: 100%;
  height: 99px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #ffffff;
}
.header-admin-form {
  width: 100%;
  height: 8px;
  display: flex;
  background-image: linear-gradient(90deg, rgb(12, 162, 6) 1.00%,rgb(0, 181, 222) 100.00%);
}


@media(max-width: 767px) {
  .header-admin-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-admin-header1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-admin-header {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .header-admin-header1 {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
}

.button-links-admin-nav {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.button-links-admin-button {
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-700);
}
.button-links-admin-navlink {
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-success-700);
}

@media(max-width: 767px) {
  .button-links-admin-nav {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .button-links-admin-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
}

.footer-container {
  width: 100%;
  height: 89px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer-footer {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  max-height: auto;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.footer-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
.footer-text {
  color: #000000;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon4 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
}
.footer-root-class-name {
  height: auto;
}
.footer-root-class-name1 {
  width: 100%;
  align-self: center;
}







.footer-root-class-name9 {
  width: 100%;
  align-self: center;
}




@media(max-width: 1600px) {
  .footer-container {
    justify-content: space-between;
  }
  .footer-icon {
    fill: #000000;
  }
  .footer-icon2 {
    fill: #000000;
  }
  .footer-icon4 {
    fill: #000000;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-container {
    height: 153px;
  }
  .footer-footer {
    height: 183px;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.vagas-carreiras-admin-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.vagas-carreiras-admin-features {
  width: auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.vagas-carreiras-admin-text {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.vagas-carreiras-admin-features1 {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 100%;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.vagas-carreiras-admin-text1 {
  font-size: 1rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.vagas-carreiras-admin-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.vagas-carreiras-admin-textinput {
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.vagas-carreiras-admin-colunascard {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
@media(max-width: 1600px) {
  .vagas-carreiras-admin-container {
    justify-content: space-between;
  }
  .vagas-carreiras-admin-features {
    width: auto;
    max-width: auto;
    align-items: stretch;
    justify-content: center;
  }
  .vagas-carreiras-admin-features1 {
    width: auto;
    height: auto;
    max-width: auto;
    align-items: flex-start;
    justify-content: center;
  }
  .vagas-carreiras-admin-container1 {
    align-items: center;
    justify-content: flex-start;
  }
  .vagas-carreiras-admin-textinput {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .vagas-carreiras-admin-colunascard {
    flex: 0;
    height: auto;
    align-self: stretch;
    align-items: flex-start;
    justify-content: center;
  }
}
@media(max-width: 1200px) {
  .vagas-carreiras-admin-container {
    justify-content: space-between;
  }
  .vagas-carreiras-admin-features {
    max-width: auto;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
  }
  .vagas-carreiras-admin-features1 {
    width: auto;
    height: auto;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 991px) {
  .vagas-carreiras-admin-container {
    justify-content: space-between;
  }
  .vagas-carreiras-admin-features {
    width: auto;
    max-width: auto;
    align-items: stretch;
    justify-content: center;
  }
  .vagas-carreiras-admin-colunascard {
    border-color: #ffffff;
  }
}
@media(max-width: 767px) {
  .vagas-carreiras-admin-container {
    justify-content: space-between;
  }
  .vagas-carreiras-admin-features {
    max-width: auto;
    align-items: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .vagas-carreiras-admin-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .vagas-carreiras-admin-features {
    width: auto;
    max-width: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .vagas-carreiras-admin-features1 {
    width: 398px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
