.button-links-admin-nav {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.button-links-admin-button {
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-700);
}
.button-links-admin-navlink {
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-success-700);
}

@media(max-width: 767px) {
  .button-links-admin-nav {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .button-links-admin-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
}
