.navigation-links-admin-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-admin-navlink {
  margin: var(--dl-space-space-halfunit);
  font-size: 30px;
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  text-decoration: none;
}
.navigation-links-admin-text {
  font-size: 30px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-admin-navlink1 {
  font-size: 30px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-admin-root-class-name {
  align-self: center;
}
@media(max-width: 991px) {
  .navigation-links-admin-navlink {
    font-size: 1rem;
  }
  .navigation-links-admin-text {
    font-size: 1rem;
  }
  .navigation-links-admin-navlink1 {
    font-size: 1rem;
  }
}
@media(max-width: 767px) {
  .navigation-links-admin-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-admin-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-admin-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-admin-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-admin-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .navigation-links-admin-navlink {
    font-size: 2.75rem;
  }
}

.header-admin-container {
  width: 100%;
  height: 105px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-admin-header {
  width: 100%;
  height: 99px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-admin-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-admin-navlink {
  display: contents;
}
.header-admin-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
  text-decoration: none;
}
.header-admin-header1 {
  width: 100%;
  height: 99px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #ffffff;
}
.header-admin-form {
  width: 100%;
  height: 8px;
  display: flex;
  background-image: linear-gradient(90deg, rgb(12, 162, 6) 1.00%,rgb(0, 181, 222) 100.00%);
}


@media(max-width: 767px) {
  .header-admin-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-admin-header1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-admin-header {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .header-admin-header1 {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
}
