.header-login-container {
  width: 100%;
  height: 105px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-login-header {
  width: 100%;
  height: 99px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-login-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-login-image {
  width: var(--dl-size-size-large);
  object-fit: cover;
}
.header-login-form {
  width: 100%;
  height: 8px;
  display: flex;
  background-image: linear-gradient(90deg, rgb(12, 162, 6) 1.00%,rgb(0, 181, 222) 100.00%);
}





@media(max-width: 767px) {
  .header-login-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-login-header {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
}
