.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  margin: var(--dl-space-space-halfunit);
  font-size: 30px;
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
}
.navigation-links-text1 {
  font-size: 30px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  font-size: 30px;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  font-size: 30px;
  margin-left: var(--dl-space-space-twounits);
}









@media(max-width: 991px) {
  .navigation-links-text {
    font-size: 3rem;
  }
  .navigation-links-text1 {
    font-size: 1rem;
  }
  .navigation-links-text2 {
    font-size: 1rem;
  }
  .navigation-links-text3 {
    font-size: 1rem;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .navigation-links-text {
    font-size: 2.75rem;
  }
}

.header-container {
  width: 100%;
  height: 144px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-header {
  width: 100%;
  height: 134px;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header-image {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.header-navlink {
  width: 136px;
  height: 44px;
  font-style: normal;
  font-family: Inria Sans;
  font-weight: 700;
  border-radius: 25px;
  text-decoration: none;
  background-color: var(--dl-color-primary-700);
}
.header-form {
  width: 100%;
  height: 20px;
  display: flex;
  background-image: linear-gradient(90deg, rgb(0, 255, 43) 1.00%,rgb(0, 100, 222) 100.00%);
}



@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    height: 221px;
    padding: var(--dl-space-space-unit);
  }
  .header-image {
    width: 83px;
    height: 75px;
  }
}
