<div>
  <link href="./header-admin.css" rel="stylesheet" />
  <div class="header-admin-container">
    <header data-role="Header" class="header-admin-header">
      <div class="header-admin-container1">
        <img
          alt="image"
          src="public/everymind-png-200h.png"
          class="header-admin-image"
        />
      </div>
      <header data-role="Header" class="header-admin-header1">
        <nav
          class="navigation-links-admin-nav navigation-links-admin-root-class-name"
        >
          <span class="navigation-links-admin-text">
            <span>CADASTRAR</span>
          </span>
          <span class="navigation-links-admin-text1">
            <span>VER VAGAS</span>
          </span>
          <a href="menu-admin.html" class="navigation-links-admin-navlink">
            <span>CARREIRAS</span>
          </a>
        </nav>
      </header>
    </header>
    <form class="header-admin-form"></form>
  </div>
</div>
