<div>
  <link href="./logos1.css" rel="stylesheet" />
  <div class="logos1-feature-card">
    <div class="logos1-container">
      <img alt="image" src="public/logo-ismart-200h.png" class="logos1-image" />
      <img alt="image" src="public/honda-logo-200h.png" class="logos1-image1" />
      <img
        alt="image"
        src="public/3-coracoes-cafe-logo-200w.png"
        class="logos1-image2"
      />
      <img alt="image" src="public/brf-logo-200h.png" class="logos1-image3" />
      <img
        alt="image"
        src="public/grupo-boticario-logo-200h.png"
        class="logos1-image4"
      />
    </div>
  </div>
</div>
