<div>
  <link href="./logos.css" rel="stylesheet" />
  <div class="logos-feature-card">
    <div class="logos-container">
      <img
        alt="image"
        src="public/kraft-heinz-logo-0-200h.png"
        class="logos-image"
      />
      <img
        alt="image"
        src="public/johnson-johnson-logo-200h.png"
        class="logos-image1"
      />
      <img
        alt="image"
        src="public/c6-bank-logo-0-200h.png"
        class="logos-image2"
      />
      <img alt="image" src="public/lindt-logo-200h.png" class="logos-image3" />
      <img alt="image" src="public/vr-logo-200h.png" class="logos-image4" />
    </div>
  </div>
</div>
