.header-container {
  width: 100%;
  height: 144px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.header-header {
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #2e2e38;
}
.header-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.header-image {
  width: 60px;
  object-fit: cover;
}
.header-navlink {
  width: 136px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  border-radius: 25px;
  text-decoration: none;
  background-color: #95ff00;
}
.header-form {
  width: 100%;
  height: 5px;
  display: flex;
  background-color: #95FF00;
}


@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
}

.not-found-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-hero {
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  max-height: auto;
  min-height: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(270deg, rgba(241, 242, 181, 0) 0.00%,rgba(0, 0, 0, 0.68) 47.00%,rgb(0, 0, 0) 100.00%),url('https://images.unsplash.com/photo-1446511437394-36cdff3ae1b3?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDJ8fGJsYWNrJTIwd29tYW4lMjBjb25mdXNlZHxlbnwwfHx8fDE2OTIxNDQyOTd8MA&ixlib=rb-4.0.3&w=1400');
  background-repeat: left,no-repeat;
  background-position: top lefttop leftcenter,center;
}
.not-found-container1 {
  flex: 0 0 auto;
  width: 822px;
  height: 829px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.not-found-text {
  color: rgb(149, 255, 0);
  width: 794px;
  font-size: 4rem;
  align-self: flex-start;
  font-style: italic;
  font-family: Inria Sans;
}
.not-found-footer {
  width: 100%;
  height: 87px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #2E2E38;
}
.not-found-image {
  width: 60px;
  object-fit: cover;
}
.not-found-text1 {
  color: var(--dl-color-gray-white);
}
.not-found-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.not-found-icon {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.not-found-icon2 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
  margin-right: var(--dl-space-space-twounits);
}
.not-found-icon4 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-small);
  height: 25px;
}
@media(max-width: 1200px) {
  .not-found-hero {
    background-image: linear-gradient(270deg, rgba(241, 242, 181, 0) 0.00%,rgba(0, 0, 0, 0.68) 47.00%,rgb(0, 0, 0) 100.00%),url('https://images.unsplash.com/photo-1446511437394-36cdff3ae1b3?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDJ8fGJsYWNrJTIwd29tYW4lMjBjb25mdXNlZHxlbnwwfHx8fDE2OTIxNDQyOTd8MA&ixlib=rb-4.0.3&w=1400');
  }
  .not-found-container1 {
    align-self: center;
  }
  .not-found-text {
    color: rgb(149, 255, 0);
    font-size: 4rem;
    font-style: normal;
    font-family: Inria Sans;
    font-weight: 700;
  }
}
@media(max-width: 991px) {
  .not-found-hero {
    height: 999px;
    min-height: var(--dl-size-size-xxlarge);
    flex-direction: column;
  }
  .not-found-container1 {
    width: auto;
  }
  .not-found-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .not-found-hero {
    width: 100%;
    height: 815px;
    max-width: auto;
    min-width: auto;
    min-height: var(--dl-size-size-xxlarge);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .not-found-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .not-found-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .not-found-hero {
    width: 100%;
    height: 851px;
    padding: var(--dl-space-space-twounits);
    min-width: var(--dl-size-size-maxwidth);
    max-height: auto;
    min-height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    background-position: top lefttop leftcenter,bottom;
  }
  .not-found-container1 {
    width: 320px;
    height: 719px;
    align-self: center;
  }
  .not-found-text {
    width: auto;
  }
  .not-found-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .not-found-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
